html,body{
    height: 100vh;
    width: 100vw;
    font-size: 62.5%;
}


.navbar-brand{
    font-family: 'Vollkorn SC';
    font-style: normal;
    font-weight: 500;
    font-size:1.6rem !important;
    letter-spacing: -0.02em;
    line-height: 2.2rem !important;
}

.nav-link{
    color: white !important;
    font-size: 1.6rem !important;
    font-weight: 500 !important;
}

.custom_nav-container {
    padding-top: 2rem !important;
}

ul{
    gap: 1rem;
}

.btn{
    border-radius: 1rem !important;
    padding: 1rem !important;
    font-weight: 500 !important;
    font-size: 1.4rem !important;
}

.custom_nav-container .navbar-nav {
    margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 0rem 1rem  !important;
    margin: 0rem 1.5rem;
    text-align: center;
    border-radius: .5rem;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    font-weight: 700;
}

 .navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .active{
    border-radius: 0% !important;
    border-bottom-width: 3px !important;
    border-bottom-style: solid !important;
    border-color: white !important;
    /* width:min-content !important; */
    align-items: center !important;
    /* position:static !important; */
}

.navbar .navbar-nav .nav-item {
    position: relative;
  }

  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: "";
    height: .4rem;
  }

  .navbar .navbar-nav .nav-item:hover::after {
    width: 50% !important;
  }

.navbar .navbar-toggler[aria-expanded="true"] {
    color: black !important;
}
    
.navbar .navbar-toggler:focus{
    color: black !important;
    background-color: white !important;
}

@media (max-width: 768px) {
    ul{
        gap:0 !important;
    }
}
  

.navbar-nav .nav-link{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 140%;
    color: #746F79;
}


.dropdown-heading{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 140%;
    color: #00475D;
}

.dropdown-menu{
    left: 0;
    margin: 0 .6rem !important;
    margin-top: 5rem !important;
}

.dropdown-menu .dropdown-item{
    margin-bottom: 1rem !important;
}

.dropdown-menu .list-group-item:hover{
    color: #00475D;
}

.dropdown-mega .dropdown-menu{
    width:98% !important;
}

.border_bottom{
    width: 70%;
    height: .5px !important;
    background-color: #A3A0A7 !important;
    margin-bottom: 1.5rem;
}

.list-group .list-group-item{
    font-weight: 400;
    font-size: 1.8rem !important;
    border: none !important;
    outline: none !important;
    padding: .7rem 0rem !important;
    color: #746F79;
}

.shadow{
    border-radius: 2rem !important;
}

.mega-content{
    padding: 6rem 1rem !important;
    width:  100% !important;
}

.col1{
    width: 23% !important;
    margin-left: 4rem;
}

.col3{
    width: 20% !important;
}

.col4{
    width: 20% !important;
}

